.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
    background-color: #E5E5E5;
}

.content {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #373738;
    padding: 1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}

#designsByFaye {
    width: 100px;
}

#topHeader {
    width: 1109px;

}

.navigation {
    width: 100%;
    background-color: #808080;
}

#headshot {
    float: right;
}

h1 {
    font-size: xx-large;
}

li {
    padding: 25px;
}

.flexContainer {
    display: flex;
    width: 33%;
    margin: auto;
    padding: 50px;
}

.workGrid {
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "timetasticImg iscImg nmpImg"
    "timetastic isc nmp";
}

#timetasticImg {
    grid-area: timetasticImg;
}

#timetastic {
    grid-area: timetastic;
}

#iscImg {
    grid-area: iscImg;
    margin-top: 80px;
}

#isc {
    grid-area: isc;
}

#nmpImg {
    grid-area: nmpImg;
}

#nmp {
    grid-area: nmp;
}

.mySkills {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.myWork {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#timetastic, #isc, #nmp {
    padding-top: 200px;
}

@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }  
    .myWork {
        width: 100%;
    }  
    .workGrid {
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "timetasticImg"
        "timetastic"
        "iscImg"
        "isc"
        "nmpImg"
        "nmp";
    }
}